# OpenBB Tutorial
### Descarga de Datos 
El objetivo de este tutorial es revisar las fuentes de datos más comunes, el seteo de API KEYS y su uso con Pandas
[Documentación Oficial OpenBB](https://docs.openbb.co/platform/usage)

In [1]:
from openbb import obb
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()

True

## Precios Historicos

In [2]:
df_daily = obb.equity.price.historical(symbol = "spy", provider="yfinance")
df_daily.to_df().head(5)

,open,high,low,close,volume,dividends,stock_splits,capital_gains
date,,,,,,,,
2023-03-10,390.99,393.16,384.32,385.91,189253000,0.0,0.0,0.0
2023-03-13,381.81,390.39,380.65,385.36,157790000,0.0,0.0,0.0
2023-03-14,390.50,393.45,387.05,391.73,149752400,0.0,0.0,0.0
2023-03-15,385.89,389.49,383.71,389.28,172996900,0.0,0.0,0.0
2023-03-16,386.82,396.47,386.29,396.11,143254200,0.0,0.0,0.0

## Datos Fundamentales

Fuentes globales de datos
[Docs Oficiales](https://docs.openbb.co/platform/extensions/data_extensions)

#### API KEY FMP
Para hacer uso de diversos métodos que obtienen datos de FMP, debemos de ir al sitio web oficial y crear nuestra API KEY 
[Financial Modeling Prep - FMP](https://site.financialmodelingprep.com/)
- Ir al sitio
- Crear cuenta
- Ir al sitio de [developer](https://site.financialmodelingprep.com/developer/docs)
- Copiar la API KEY que aparece en el recuadro azul To authorize your requests, add &apikey=XXXXXXXXXX
- Pegar la API KEY en un archivo llamado .env (que deberás crear con ese nombre)
- El archivo deberá de ser FMP=XXXXXX donde XXXXX es la API KEY

In [3]:
obb.user.credentials.fmp_api_key = os.environ['FMP']

In [4]:
btc_data = obb.crypto.price.historical("BTCUSD", start_date="2014-01-01", end_date="2024-01-31").to_df().head(10)
btc_data

,open,high,low,close,volume,vwap,adj_close,unadjusted_volume,change,change_percent,label,change_over_time
date,,,,,,,,,,,,
2014-01-01,737.15115,759.11040,737.15115,753.99000,7540.0,750.29,753.99000,7540.0,16.83885,2.28,"January 01, 14",0.0228
2014-01-02,750.11583,817.56149,750.00000,788.30421,14978.0,776.82,788.30421,14978.0,38.18838,5.09,"January 02, 14",0.0509
2014-01-03,784.68606,819.90000,771.17795,808.51778,60639.0,801.02,808.51778,60639.0,23.83172,3.04,"January 03, 14",0.0304
2014-01-04,808.42694,840.00000,783.02000,827.64784,27312.0,808.44,827.64784,27312.0,19.22090,2.38,"January 04, 14",0.0238
2014-01-05,828.69000,980.00000,827.41350,904.75000,48857.0,894.69,904.75000,48857.0,76.06000,9.18,"January 05, 14",0.0918
2014-01-06,908.24999,1019.00000,886.43973,919.11176,68933.0,956.52,919.11176,68933.0,10.86177,1.20,"January 06, 14",0.0120
2014-01-07,916.81972,945.00000,810.00000,810.00000,39690.0,882.26,810.00000,39690.0,-106.81972,-11.65,"January 07, 14",-0.1165
2014-01-08,810.00000,899.84281,788.00000,824.98287,15675.0,839.16,824.98287,15675.0,14.98287,1.85,"January 08, 14",0.0185
2014-01-09,825.56345,870.00000,807.42084,841.86934,6735.0,831.57,841.86934,6735.0,16.30589,1.98,"January 09, 14",0.0198
2014-01-10,839.99000,857.34056,817.00000,857.33056,6859.0,844.94,857.33056,6859.0,17.34056,2.06,"January 10, 14",0.0206

### Equity

In [5]:
# Equity - Fundamentals
df_apple_balance = obb.equity.fundamental.balance(symbol="AAPL", period="annual", limit=5)
df_apple_balance

OBBject

id: 065ee1ee-19dd-71ff-8000-5aedb05519ec
results: [{'period_ending': datetime.date(2023, 9, 30), 'fiscal_period': 'FY', 'fis...
provider: fmp
warnings: None
chart: None
extra: {'metadata': {'arguments': {'provider_choices': {'provider': 'fmp'}, 'standa...

In [6]:
df_apple_balance.to_df()

,period_ending,fiscal_period,fiscal_year,filing_date,accepted_date,reported_currency,cash_and_cash_equivalents,short_term_investments,cash_and_short_term_investments,net_receivables,...,accumulated_other_comprehensive_income,total_common_equity,total_equity_non_controlling_interests,total_liabilities_and_shareholders_equity,total_liabilities_and_total_equity,total_investments,total_debt,net_debt,link,final_link
0,2023-09-30,FY,2023,2023-11-03,2023-11-02 18:08:27,USD,2.996500e+10,3.159000e+10,6.155500e+10,6.098500e+10,...,-1.145200e+10,6.214600e+10,6.214600e+10,3.525830e+11,3.525830e+11,3.159000e+10,1.110880e+11,8.112300e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2022-09-24,FY,2022,2022-10-28,2022-10-27 18:01:14,USD,2.364600e+10,2.465800e+10,4.830400e+10,6.093200e+10,...,-1.110900e+10,5.067200e+10,5.067200e+10,3.527550e+11,3.527550e+11,1.454630e+11,1.200690e+11,9.642300e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2021-09-25,FY,2021,2021-10-29,2021-10-28 18:04:28,USD,3.494000e+10,2.769900e+10,6.263900e+10,5.150600e+10,...,1.630000e+08,6.309000e+10,6.309000e+10,3.510020e+11,3.510020e+11,1.555760e+11,1.247190e+11,8.977900e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2020-09-26,FY,2020,2020-10-30,2020-10-29 18:06:25,USD,3.801600e+10,5.292700e+10,9.094300e+10,3.744500e+10,...,-4.060000e+08,6.533900e+10,6.533900e+10,3.238880e+11,3.238880e+11,1.538140e+11,1.124360e+11,7.442000e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2019-09-28,FY,2019,2019-10-31,2019-10-30 18:12:36,USD,4.884400e+10,5.171300e+10,1.005570e+11,4.580400e+10,...,-5.840000e+08,9.048800e+10,9.048800e+10,3.385160e+11,3.385160e+11,1.570540e+11,1.080470e+11,5.920300e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [7]:
df_apple_balance.to_df().columns

Index(['period_ending', 'fiscal_period', 'fiscal_year', 'filing_date',
       'accepted_date', 'reported_currency', 'cash_and_cash_equivalents',
       'short_term_investments', 'cash_and_short_term_investments',
       'net_receivables', 'inventory', 'other_current_assets',
       'total_current_assets', 'plant_property_equipment_net',
       'goodwill_and_intangible_assets', 'long_term_investments', 'tax_assets',
       'other_non_current_assets', 'non_current_assets', 'total_assets',
       'accounts_payable', 'short_term_debt', 'current_deferred_revenue',
       'other_current_liabilities', 'total_current_liabilities',
       'long_term_debt', 'deferred_revenue_non_current',
       'deferred_tax_liabilities_non_current', 'other_non_current_liabilities',
       'total_non_current_liabilities', 'capital_lease_obligations',
       'total_liabilities', 'common_stock', 'retained_earnings',
       'accumulated_other_comprehensive_income', 'total_common_equity',
       'total_equity_non_controlling_interests',
       'total_liabilities_and_shareholders_equity',
       'total_liabilities_and_total_equity', 'total_investments', 'total_debt',
       'net_debt', 'link', 'final_link'],
      dtype='object')

In [8]:
# Equity - Cash
cash = obb.equity.fundamental.cash(symbol="AAPL", period="annual", limit=5).to_df()
cash.head(10)

,period_ending,fiscal_period,fiscal_year,filing_date,accepted_date,reported_currency,net_income,depreciation_and_amortization,deferred_income_tax,stock_based_compensation,...,other_financing_activities,net_cash_from_financing_activities,net_change_in_cash_and_equivalents,cash_at_beginning_of_period,cash_at_end_of_period,operating_cash_flow,capital_expenditure,free_cash_flow,link,final_link
0,2023-09-30,FY,2023,2023-11-03,2023-11-02 18:08:27,USD,9.699500e+10,1.151900e+10,5.195000e+09,1.083300e+10,...,-6.012000e+09,-1.084880e+11,5.760000e+09,2.497700e+10,3.073700e+10,1.105430e+11,-1.095900e+10,9.958400e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2022-09-24,FY,2022,2022-10-28,2022-10-27 18:01:14,USD,9.980300e+10,1.110400e+10,8.950000e+08,9.038000e+09,...,3.037000e+09,-1.107490e+11,-1.095200e+10,3.592900e+10,2.497700e+10,1.221510e+11,-1.070800e+10,1.114430e+11,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2021-09-25,FY,2021,2021-10-29,2021-10-28 18:04:28,USD,9.468000e+10,1.128400e+10,-4.774000e+09,7.906000e+09,...,1.473000e+10,-9.335300e+10,-3.860000e+09,3.978900e+10,3.592900e+10,1.040380e+11,-1.108500e+10,9.295300e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2020-09-26,FY,2020,2020-10-30,2020-10-29 18:06:25,USD,5.741100e+10,1.105600e+10,-2.150000e+08,6.829000e+09,...,1.233100e+10,-8.682000e+10,-1.043500e+10,5.022400e+10,3.978900e+10,8.067400e+10,-7.309000e+09,7.336500e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2019-09-28,FY,2019,2019-10-31,2019-10-30 18:12:36,USD,5.525600e+10,1.254700e+10,-3.400000e+08,6.068000e+09,...,-1.936000e+09,-9.097600e+10,2.431100e+10,2.591300e+10,5.022400e+10,6.939100e+10,-1.049500e+10,5.889600e+10,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [9]:
cash.columns

Index(['period_ending', 'fiscal_period', 'fiscal_year', 'filing_date',
       'accepted_date', 'reported_currency', 'net_income',
       'depreciation_and_amortization', 'deferred_income_tax',
       'stock_based_compensation', 'change_in_working_capital',
       'change_in_account_receivables', 'change_in_inventory',
       'change_in_account_payable', 'change_in_other_working_capital',
       'change_in_other_non_cash_items', 'net_cash_from_operating_activities',
       'purchase_of_property_plant_and_equipment', 'acquisitions',
       'purchase_of_investment_securities', 'sale_and_maturity_of_investments',
       'other_investing_activities', 'net_cash_from_investing_activities',
       'repayment_of_debt', 'issuance_of_common_equity',
       'repurchase_of_common_equity', 'payment_of_dividends',
       'other_financing_activities', 'net_cash_from_financing_activities',
       'net_change_in_cash_and_equivalents', 'cash_at_beginning_of_period',
       'cash_at_end_of_period', 'operating_cash_flow', 'capital_expenditure',
       'free_cash_flow', 'link', 'final_link'],
      dtype='object')

In [10]:
# Equity - Consensus
obb.equity.estimates.consensus("AAPL,MSFT", provider="yfinance").to_df()

,symbol,target_high,target_low,target_consensus,target_median,recommendation,recommendation_mean,number_of_analysts,current_price,currency
0,AAPL,250.00,158.0,201.41,200.0,buy,2.1,39,170.73,USD
1,MSFT,546.44,298.1,456.81,455.0,buy,1.6,47,406.22,USD

In [11]:
# Equity - Multiples
multiples = obb.equity.fundamental.multiples(symbol="AAPL").to_df()

In [12]:
multiples

,symbol,revenue_per_share_ttm,net_income_per_share_ttm,operating_cash_flow_per_share_ttm,free_cash_flow_per_share_ttm,cash_per_share_ttm,book_value_per_share_ttm,tangible_book_value_per_share_ttm,shareholders_equity_per_share_ttm,interest_debt_per_share_ttm,...,average_payables_ttm,average_inventory_ttm,days_sales_outstanding_ttm,days_payables_outstanding_ttm,days_of_inventory_on_hand_ttm,receivables_turnover_ttm,payables_turnover_ttm,inventory_turnover_ttm,roe_ttm,capex_per_share_ttm
0,AAPL,24.761821,6.478483,7.474846,6.86085,4.692924,4.757123,4.757123,4.757123,7.124129,...,6.037850e+10,6.421000e+09,47.412356,100.093334,11.208126,7.698415,3.646596,32.565658,1.560442,-0.613996

In [13]:
multiples.columns

Index(['symbol', 'revenue_per_share_ttm', 'net_income_per_share_ttm',
       'operating_cash_flow_per_share_ttm', 'free_cash_flow_per_share_ttm',
       'cash_per_share_ttm', 'book_value_per_share_ttm',
       'tangible_book_value_per_share_ttm',
       'shareholders_equity_per_share_ttm', 'interest_debt_per_share_ttm',
       'market_cap_ttm', 'enterprise_value_ttm', 'pe_ratio_ttm',
       'price_to_sales_ratio_ttm', 'pocf_ratio_ttm', 'pfcf_ratio_ttm',
       'pb_ratio_ttm', 'ptb_ratio_ttm', 'ev_to_sales_ttm',
       'enterprise_value_over_ebitda_ttm', 'ev_to_operating_cash_flow_ttm',
       'ev_to_free_cash_flow_ttm', 'earnings_yield_ttm',
       'free_cash_flow_yield_ttm', 'debt_to_equity_ttm', 'debt_to_assets_ttm',
       'net_debt_to_ebitda_ttm', 'current_ratio_ttm', 'interest_coverage_ttm',
       'income_quality_ttm', 'dividend_yield_ttm',
       'dividend_yield_percentage_ttm', 'dividend_to_market_cap_ttm',
       'dividend_per_share_ttm', 'payout_ratio_ttm',
       'sales_general_and_administrative_to_revenue_ttm',
       'research_and_development_to_revenue_ttm',
       'intangibles_to_total_assets_ttm', 'capex_to_operating_cash_flow_ttm',
       'capex_to_revenue_ttm', 'capex_to_depreciation_ttm',
       'stock_based_compensation_to_revenue_ttm', 'graham_number_ttm',
       'roic_ttm', 'return_on_tangible_assets_ttm', 'graham_net_net_ttm',
       'working_capital_ttm', 'tangible_asset_value_ttm',
       'net_current_asset_value_ttm', 'invested_capital_ttm',
       'average_receivables_ttm', 'average_payables_ttm',
       'average_inventory_ttm', 'days_sales_outstanding_ttm',
       'days_payables_outstanding_ttm', 'days_of_inventory_on_hand_ttm',
       'receivables_turnover_ttm', 'payables_turnover_ttm',
       'inventory_turnover_ttm', 'roe_ttm', 'capex_per_share_ttm'],
      dtype='object')

In [14]:
gdp_real = obb.economy.gdp.real(units="yoy").to_df()

In [15]:
gdp_real

                value        country
date
1950-03-31   3.772856  united_states
1950-06-30   7.303358  united_states
1950-09-30  10.310162  united_states
1950-12-31  13.372394  united_states
1951-03-31  10.564877  united_states
...               ...            ...
2022-09-30   1.713213  united_states
2022-12-31   0.651692  united_states
2023-03-31   1.717927  united_states
2023-06-30   2.382468  united_states
2023-09-30   2.926887  united_states

[295 rows x 2 columns]